<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<h1>admin</h1>
		<h1 th:text="${title}">Title :</h1>
		<h1 th:text="${message}">Message :</h1>


		<div th:if="${#httpServletRequest.remoteUser != null}">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Log out" />
			</form>
			<p th:text="${#httpServletRequest.remoteUser}">sample_user</p>
		</div>
	</div>
</body>
</html>